.app-layout{display:flex;flex-direction:column;height:100vh;}
.app-body{display:flex;flex:1;min-height:0;} /* allow children to scroll */
.app-main{flex:1;padding:28px;overflow:auto;background:#fff;} /* pages have white bg */
